<div class="container">
  <div class="result-card">
    <canvas #cardCanvas width="421" height="614">
  
    </canvas>
  </div>
  

  <div class="form" >
    <form [formGroup]="cardForm" class="cardForm">
      <div>
        <h4>Nom</h4>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="name" aria-label="Nom de la carte" (blur)="generateCard()">
        </mat-form-field>
      </div>

      <div>
        <h4>Template</h4>
        <mat-form-field appearance="fill">
          <mat-label>Type de carte</mat-label>
          <mat-select formControlName="cardType" (blur)="generateCard()">
            <mat-option *ngFor="let cardTemplate of cardTemplates" [value]="cardTemplate">
              {{cardTemplate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <h4>Symbole</h4>
        <mat-form-field appearance="fill">
          <mat-label>Symbole</mat-label>
          <mat-select formControlName="symbol" (blur)="generateCard()">
            <mat-option *ngFor="let symbol of symbols" [value]="symbol">
              {{symbol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <h4>Type</h4>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <input matInput type="text" formControlName="name" aria-label="Type de la carte" (blur)="generateCard()">
        </mat-form-field>
      </div>

      <div>
        <h4>Icone</h4>
        <mat-form-field appearance="fill">
          <mat-label>Icône</mat-label>
          <mat-select formControlName="icon" (blur)="generateCard()">
            <mat-option *ngFor="let icon of icons" [value]="icon">
              {{icon}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div *ngIf="isMonster()">
        <h4>ATK</h4>
        <mat-form-field appearance="fill">
          <mat-label>Attaque</mat-label>
          <input matInput type="number" formControlName="atk" aria-label="Attaque du monstre" (blur)="generateCard()">
        </mat-form-field>
      </div>

      <div *ngIf="isMonster()">
        <h4>DEF</h4>
        <mat-form-field appearance="fill">
          <mat-label>Défense</mat-label>
          <input matInput type="number" formControlName="def" aria-label="Défense du monstre" (blur)="generateCard()">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>