h1 {
    padding: 3rem;
    font-weight: 700;
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
}

.form {
    padding: 5rem;
    width: 60%;
}

.cardForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &>* {
        padding: 1rem;
    }
}

.description {
    width: 500px !important;
    min-width: unset !important;

    mat-form-field {
        width: 100%;
    }
}
